Repository trussworks/terraform-aws-wafv2: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, gomod

.pre-commit-config.yaml:

repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
      - id: pretty-format-json
        args:
          - --autofix
      - id: trailing-whitespace

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.2
    hooks:
      - id: markdownlint

  - repo: git://github.com/antonbabenko/pre-commit-terraform
    rev: v1.32.0
    hooks:
      - id: terraform_docs
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.30.0
    hooks:
      - id: golangci-lint

Add possibility to use multi vendor managed rules
  main.tf
  variables.tf
Due: none

Remove dependabot
  .github/dependabot.yml
Due: none

Add renovate.json
  renovate.json
Due: none

Update actions/checkout action to v2
  .github/workflows/tidy.yml
Due: none

Update actions/setup-go action to v2
  .github/workflows/tidy.yml
Due: none

Update module github.com/gruntwork-io/terratest to v0.38.9
  go.mod
  go.sum
Due: gomod

Update module github.com/gruntwork-io/terratest to v0.40.7
  go.mod
  go.sum
Due: gomod

fix pre-commit
  .pre-commit-config.yaml
Due: none

update golangci
  .golangci.yml
Due: none

update golangci
  .pre-commit-config.yaml
Due: none

update circleci
  .circleci/config.yml
Due: none

fix go verison script
  scripts/check-go-version
Due: none

fix go mod
  go.mod
Due: gomod

fix go mod properly
  go.mod
  go.sum
Due: gomod

hopefully this fixes things?
  .github/workflows/tidy.yml
  go.mod
  go.sum
Due: gomod

one more try
  go.mod
  go.sum
Due: gomod

change git: to https:
  .pre-commit-config.yaml
Due: none

add timeout
  .golangci.yml
Due: none

Update module github.com/gruntwork-io/terratest to v0.40.8
  go.mod
  go.sum
Due: gomod

Update actions/setup-go action to v3
  .github/workflows/tidy.yml
Due: none

Update actions/checkout action to v3
  .github/workflows/tidy.yml
Due: none

Update module github.com/gruntwork-io/terratest to v0.40.10
  go.mod
  go.sum
Due: gomod

make search_string configurable
  main.tf
  variables.tf
Due: none

remove circleci config
  .circleci/config.yml
Due: none

add logging configuration.
  main.tf
  variables.tf
Due: none

update README
  README.md
Due: none

fix README.md
  README.md
Due: none

removing kodiak
  .kodiak.toml
Due: none

updating go things
  go.mod
  go.sum
Due: gomod

updating pre-commit and format as a result
  .pre-commit-config.yaml
  .terraform-docs.yml
  LICENSE
  README.md
  test/terraform_aws_wafv2_test.go
Due: go-version

removing tests
  .github/workflows/tidy.yml
  .golangci.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  go.mod
  go.sum
  renovate.json
  scripts/check-go-version
  scripts/make-test
  scripts/pre-commit-go-mod
  test/terraform_aws_wafv2_test.go
Due: go-version, gomod

Move search_string obj type, set default to null
  README.md
  variables.tf
Due: none

fix type issues
  README.md
  main.tf
  variables.tf
Due: none

ci: removing PR limit from renovate
  renovate.json
Due: none

Add more information to log_destination_arns
  README.md
Due: none

chore: removing makefile
  Makefile
Due: none

ci: TFDocs official GHA
  .pre-commit-config.yaml
  README.md
Due: none

ci: updating pre-commit and formatting as a result
  .pre-commit-config.yaml
  README.md
Due: none
